* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  --primary-color: #4d8b55;
  --secondary-color: #000;
  --dark-color: #a9a4abc7;
  --white-color: #ffff;
  --text-color: #4d8b55;
  --fs-16: 16px;
  --fs-64: 64px;
  --fs-18: 18px;
  --fs-44: 44px;
  --fs-24: 24px;
  --fs-22: 22px;
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  --poppins: "poppins";
  --helvetica: "helvetica";
}
body {
  background-color: black;
  color: var(--white-color);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}
.container-fluid {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  display: block;
  max-width: 100%;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-left: 12px;
  padding-right: 12px;
}
/* HEADER START */
header {
  padding-top: 30px;
  width: 100%;
  height: 300px;
}
header .nav-1 .icon-1 span{
    padding-right: 20px;
    font-size: 12px;
    /* color: var(--white-color); */
    font-family: var(--poppins);
    font-weight: normal;
}
header span::after{
    content: "";
    width: 12px;
    display: inline-block;
    border-bottom: 1px solid var(--white-color);
    position: relative;
    top: -3px;
    margin-left: 15px;
}
header .nav-1 .icon-1 ul li a{
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #4d8b55;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}
header .nav-1 .icon-2 ul li a{
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid #4d8b55;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

header .nav-2 ul{
    padding-top: 40px;
}
header .nav-2 ul li a{
    padding: 22px;
    font-family: var(--poppins);
    font-weight: var(--fw-600);
    font-size: 14px;
}
header .nav-2 ul li a i{
    font-size: 12px;
}
/* HEADER END */

/* BANNER START */
.banner .banner-overlay{
  background-image: url('../IMAGES/banner-overlay.jpg');
  background-size: cover;
  background-repeat: no-repeat;
 
}
.banner .banner-content{
  text-align: center;
  font-family: var(--poppins);
  line-height: 1;
}
.banner .banner-content h1{
  font-size: 80px;
}
.banner .banner-content h1 span , .detail-sec .detail-content h2 span{
  color: #4d8b55;
  display: block;
}
.banner .banner-content-2{
  text-align: center;  
  max-width: 700px;
}
.banner .banner-content-2 p{
  font-size: 14px;
  font-family: var(--poppins);
  padding-top: 20px;
}
.banner .banner-overlay-2{
  background-color: #4d8b55;
  background-image: 
  url('../IMAGES/banner-overlay-pattern.png');
  background-repeat: repeat-X;
  width: 100%;
  height: 300px;
}
/* BANNER END */

/* DETAIL_SEC START */
.detail-sec{
  background-color: var(--white-color);
}
.detail-sec .detail-content{
  padding-top: 100px;
}
.detail-sec .detail-content h2 span{
  font-size: 48px;
  font-family: var(--poppins);
}
.detail-sec .detail-content h2{
  color: #000;
  font-size: var(--fs-44);
  font-family: var(--poppins);
}
.detail-sec .detail-content p{
  color: black;
  font-size: 14px;
  font-family: var(--poppins);
}
.detail-sec .detail-content .info{
  margin: 30px 0px 48px 32px;
  vertical-align: middle;
}
.detail-sec .detail-content .info .download-detail{
  margin-bottom: 20px;
}
.detail-sec .detail-content .info .download-detail i , .detail-sec .detail-content .info .call-detail i{
  color: #4d8b55;
  font-size: var(--fs-24);
  margin-right: 10px;
}
.detail-sec .detail-content .info .download-detail span ,.detail-sec .detail-content .info .call-detail span{
  color: #000;
  font-size: 14px;
  font-family: var(--poppins);
  font-weight: var(--fw-700);
}
.detail-sec .detail-content .btn{
  display: flex;
  margin-bottom: 100px;
}
.detail-sec .detail-content .btn-1{
  padding: 22px 30px 22px;
  width: 250px;
  font-size: 14px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
  margin-right: 20px;
}
.detail-sec .detail-content .btn-1 a ,.detail-sec .detail-content .btn-2 a{
  color: var(--white-color);
  font-family: var(--poppins);
  font-weight: var(--fw-700);
}
.detail-sec .detail-content .btn-2{
  padding: 22px 30px 22px;
  width: 250px;
  font-size: 14px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
}
.detail-sec .detail-image img{
  margin-top: 60px;
}
/* DETAIL_SEC END */